body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-header{
    font-weight: 200;
    font-size: 2.3em;
    margin-bottom: 0;
    margin-top: 9vh;
    color: hsl(234, 12%, 34%);
}
.second-header{
    margin-top: 0;
    color: hsl(234, 12%, 34%);
    font-size: 2.3em;
}
.top-para{
    width: 540px;
    margin-top: 0;
    text-align: center;
    color: hsl(229, 6%, 66%);
}
.cards-container{
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    border-top: 5px solid;
    width: 320px;
    height: 250px;
    padding: 10px 25px;
    border-radius: 6px;
    box-shadow: 0px 9px 14px 2px #e1eaf5;
}
.supervisor{
    border-color: hsl(180, 62%, 55%);
}
.team-b{
    border-color: hsl(0, 78%, 62%);
}
.karma{
    border-color: hsl(34, 97%, 64%);
}
.calc{
    border-color: hsl(212, 86%, 64%);
}

.card img{
    align-self: flex-end;
    margin: 30px 15px;
}
.card h2{
    margin-bottom: 5px;
    color: hsl(234, 12%, 34%);
}
.card p{
    margin-top: 0;
    color: hsl(229, 6%, 66%);
}
.double-cards{
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}
@media (max-width:600px){
    .cards-container{
        flex-direction: column;
    }
}